body {
	font-family: Jost, Arial, sans-serif;
}
#kid {
	display: none;
}
#parent {
	display: none;
}
#do {
	display: none;
}
.event {
	background-color: #eee;
}
.section {
	background-color: #bbb;
}
.order {
	background-color: #eee;
}