body {
	font-family: Jost, Arial, sans-serif;
}
#kid {
	display: none;
}
#parent {
	display: none;
}
#do {
	display: none;
}
.event {
	background-color: #eee;
}
.section {
	background-color: #bbb;
}
.order {
	background-color: #eee;
}
.order img {
	width: 100px;
}
#orderDiv {
	display: none;
}
.landsvg {
	z-index: -999;
}
nav a {
	text-decoration: none;
	color: #000;
}
#container {
  margin: 0;
  padding: 0;
  display: grid ;
  place-items: center
}

#slider-container {
  height: 300px;
  width: 85vw;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid #FFC53A;
  border-top: 8px solid #FFC53A;
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 2000%;
  height: 100%; 
  transition: all .5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}
@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}
@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}
@media only screen and (max-width: 550px) {

  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}